# ========================================================================
#   Python Byte-compiled Files
# ========================================================================
*.pyc
*.pyo
*.pyd
__pycache__/
.Python

# ========================================================================
#   Environment and Dependencies
# ========================================================================
.env
.env.local
.env.*.local
env/
venv/

# ========================================================================
#   Data
# ========================================================================

data/*
!data/README.md                 # Keep a README describing the dataset
!data/sample-reviews.csv        # Keep a small sample of rows 

# ========================================================================
#   Testing and Cache
# ========================================================================
.pytest_cache/

# ========================================================================
#   Logs
# ========================================================================
*.log
logs/

# ========================================================================
#   System Files
# ========================================================================
.DS_Store

# ========================================================================
#   Project Specific
# ========================================================================
archive/
export/
